<%= form_for @store do |form| %>
    <div class="row">
      <div class="large-12 columns">
        <%= form.label "Store Name" %>
        <%= form.text_field :name, :placeholder => "Whiterose, Savers...", title: 'Whiterose, Savers...' %>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <%= form.label "Description" %>
        <%= form.text_field :description, :placeholder => "Write something about the facilities, employees...", title: 'Write something about the facilities, employees...' %>
      </div>
    </div>
    <div class="row">
      <div class="large-4 columns">
        <%= form.label "Address" %>
        <address><%= form.text_field :post_code, placeholder: "413 Hoe St E17 9AP London", title: '413 Hoe St E17 9AP London', id: 'new-address' %></address>
      </div>
      <div class="large-4 columns">
        <%= form.label "Phone" %>
        <%= form.text_field :phone, :placeholder => "07123456789", title: '07123456789' %>
      </div>
      <div class="large-4 columns">
        <%= form.label "Opening hours" %>
        <%= form.text_field :open_hours, :placeholder => "08:00-18:00", title: '08:00-18:00' %>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <%= form.submit 'Add', :class => "button" %>
      </div>
    </div>

<% end %>