<% @num = 1 %>
<% @stores.each do |store| %>

<li>
  <dl>
    <dt><%= @num %>. <%= store.name %></dt>
    <dd>Description: <%= store.description %></dd>
    <dd>Phone:</dd><dd><%= store.phone %></dd>
    <dd>Opening Hours:</dd><dd><%= store.open_hours %></dd>
    <dd>Location:</dd><address><%= store.post_code %></address>
  </dl>
</li>
<% @num += 1 %>
<% end %>