<div id="container-edit">
  <%= form_for @item do |form| %>
    <div class="row">
      <div class="large-12 columns">
        <%= form.label "Product Name" %>
        <%= form.text_field :name_item %>
      </div>
    </div>
    <div class="row">
      <div class="large-4 columns">
        <%= form.label "Category" %>
        <% id = @item.category_id %>
        <% c1 = Category.find(id) %>
        <%= form.select(:category_id, options_from_collection_for_select(@categories, :id , :name, c1.id )) %>
      </div>
      <div class="large-4 columns">
        <%= form.label "Store" %>
        <% id = @item.store_id %>
        <% s1 = Store.find(id) %>
        <%= form.select(:store_id, options_from_collection_for_select(@stores, :id , :name_store, s1.id )) %>
      </div>
      <div class="large-4 columns">
        <%= form.label "Price" %>
        <%= form.text_field :price %>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <%= form.label "Description" %>
        <%= form.text_field :description_item %>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <%= form.label "Current Picture, select a different one if needed" %>
        <%= image_tag @item.image %>
        <%= form.file_field :image_item, accept: 'image/png,image/gif,image/jpeg', class: 'button-form' %>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <%= form.submit 'Update', :class => "button" %>
      </div>
    </div>
  <% end %>
</div>