<div id="container-new">
  <%#= form_for @item do |form| %>
  <%= form_for @item, html: { multipart: true } do |form| %>
    <div class="row">
      <div class="large-12 columns">
        <%= form.label "Product Name" %>
        <%= form.text_field :name_item, :placeholder => "powder, milk, beer" %>
      </div>
    </div>
    <div class="row">
      <div class="large-4 columns">
        <%= form.label "Category" %>
        <%= form.select("name", @categories.order('name ASC').map {|p| [ p.name ] }, {prompt: 'Select Category'}) %>
      </div>
      <div class="large-4 columns">
        <%= form.label "Store" %>
        <%= form.select("name_store", @stores.order('name_store ASC').map {|p| [ p.name_store ] }, {prompt: 'Select Store'}) %>
      </div>
      <div class="large-4 columns">
        <%= form.label "Price" %>
        <%= form.text_field :price, :placeholder => "2,000.00" %>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <%= form.label "Description" %>
        <%= form.text_field :description_item, placeholder: "Write down the information relevant about this product" %>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <%= form.label "Picture" %>
        <%= form.file_field :image_item, accept: 'image/png,image/gif,image/jpeg', placeholder: "Select a picture from your computer", class: 'button-form' %>
        <%#= image_tag(@item.image_item_url) if @item.image_item? %>
        <%= form.text_field :image_item, placeholder: "Select a picture for this product", class: 'button-form' %>
        <%#= form.text_field :remote_image_url, placeholder: "Select a picture for this product", class: 'button-form' %>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <%= form.submit 'Add', :class => "button tiny" %>
        <%= link_to 'Cancel', items_path, :class => "button tiny" %>
      </div>
    </div>
  <% end %>
</div>
