<div id="container-new">
  <%= form_for @item, html: { multipart: true } do |form| %>
    <div class="row">
      <div class="large-12 columns">
        <%= form.label "Product Name" %>
        <%= form.text_field :name_item, :placeholder => "powder, milk, beer" %>
      </div>
    </div>
    <div class="row">
      <div class="large-4 columns">
        <%= form.label "Category" %>
        <%= form.select(:category_id, @categories.order('name ASC').map {|category| [ category.name, category.id ] }, {prompt: 'Select Category'}) %>
      </div>
      <div class="large-4 columns">
        <%= form.label "Store" %>
        <%= form.select(:store_id, @stores.order('name_store ASC').map {|store| [ store.name_store, store.id ] }, {prompt: 'Select Store'}) %>
      </div>
      <div class="large-4 columns">
        <%= form.label "Price" %>
        <%= form.text_field :price, :placeholder => "2,000.00" %>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <%= form.label "Description" %>
        <%= form.text_field :description_item, placeholder: "Write down the information relevant about this product" %>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <%= form.label "Image" %>
        <%= form.file_field :image_to_upload, accept: 'image/png,image/gif,image/jpeg', placeholder: "Select a picture from your computer", class: 'button-form' %>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <%= form.submit 'Add', :class => "button tiny" %>
        <%= link_to 'Cancel', items_path, :class => "button tiny" %>
      </div>
    </div>
  <% end %>
</div>
