<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
    <title>Savvying, built for savvy shoppers</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <%= render "shared/menu" %>   
    </header>
    <%= yield %>
    
    <div class="row">
      <div class="large-4 columns">
      </div>
      <div class="large-6 columns">
        <% if flash[:notice] %>
          <% flash.each do |name, msg| -%>
            <%= content_tag :div, msg, class: "message" %>
          <% end %>
        <% end %>  
      </div>
      <div class="large-2 columns">
      </div>
    </div> 
    <footer>
      <%= render "shared/foot_menu" %>
    </footer>
  </body>
</html>
